trigger:
  branches:
    include:
      - main
pr:
  - main
pool:
  vmImage: ubuntu-latest
variables:
  repositoryName: 'serverless-container-cicd'
steps:
  - task: Docker@2
    displayName: 'Build Image'
    inputs:
      command: build
      repository: '$(repositoryName)'
  - task: AmazonWebServices.aws-vsts-tools.ECRPushImage.ECRPushImage@1
      displayName: 'Push Image to ECR'
      condition: and (succeeded(), ne(variables.isPullRequest, true))
      inputs:
        awsCredentials: 'AWS Account'
        regionName: 'us-east-1'
        sourceImageName: '$(repositoryName)'
        sourceImageTag: '$(Build.BuildId)'
        repositoryName: '$(repositoryName)'
        pushTag: '$(Build.BuildId)'
        autoCreateRepository: true
        outputVariable: digest
  - task: CopyFiles@2
    displayName: 'Copy serverelss.yml File to build.artifactstagingdirectory'
    inputs:
      SourceFolder: 'src/ServerlessCICD/'
      Contents: serverless.yml
      TargetFolder: '$(build.artifactstagingdirectory)/drop'
  - task: PublishPipelineArtifact@1
    inputs:
      targetPath: '$(build.artifactstagingdirectory)/drop'
      artifactName: drop
        